server:
  port: 8081

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:postgresql://localhost:5432/autoClaimIdentity
    username: postgres
    password: p1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true